{% extends "template.html" %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Registrera Träningspass</h1>
  <p class="lead">All progress takes place outside the comfort zone.</p>

  {% if success %}
  <div class="alert alert-success" role="alert">
    Snyggt Jobbat!! Lyckad registrering!!
  </div>
  {% endif %}
</div>
<div class="container">
  <form method="POST">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputState">Datum</label>
        <input class="form-control" type="date" value="{{ today }}" id="inputState" name="date_value">
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Deltagare</label>
        <select id="inputState" class="form-control" name="athlete_name">
          <option selected>Select</option>
          {% for item in user_names %}
          <option>{{ item['name'] }} {{ item['last_name'] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Aktivitet</label>
        <select id="inputState" class="form-control" name="activity_name">
          <option selected>Select</option>
          {% for item in activities %}
          <option>{{ item }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Aktivitetens Längd</label>
        <select id="inputState" class="form-control" name="activity_length">
          <option selected>Select</option>
          {% for length in point_counter %}
          <option>{{ length }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
      <div class="mx-auto text-center">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Registrera</button>
      </div>
  </form>
</div>
{% endblock %}
