{% extends "template.html" %}
{% block content %}
<div class="bg">
<div class="h-100 row align-items-center">
    <h1 class="display-3 text-light mx-auto text-center">Countdown</h1>
    <h1 class="display-4 text-light mx-auto text-center" id="demo"></h1>
</div>
<!--
<div class="row h-100">
    <div class="col-sm-12 my-auto">
        <div class="card card-block w-25">Card</div>
    </div>
</div>
-->
<!--
<div class="container d-flex h-100">
<div class="row justify-content-center align-self-center mx-auto text-center">
  <h1 class="display-3 text-light">Countdown</h1>
  <h1 class="display-4 text-light" id="demo"></h1>
  <p class="lead text-light">Only I can change my life, no one can do it for me.</p>
</div>
</div>
-->
<!--
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Registrera tränigspass</h4>
          <p class="card-text">Registrera dina träningspass</p>
          <a href="add_exercise" class="btn btn-lg btn-block btn-outline-primary" role="button">Registrera</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tabell</h4>
          <p class="card-text">Kolla in din placering i tabellen</p>
          <a href="leaderboard" class="btn btn-lg btn-block btn-outline-primary" role="button">Tabell</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Poängsystem</h4>
          <p class="card-text">Hur beräknas poängen?</p>
          <a href="stats" class="btn btn-lg btn-block btn-outline-primary" role="button">Poängsystem</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->

</div>
{% endblock %}