{% extends "template.html" %}
{% block content %}
<div class="bg">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Välkommen</h1>
  <p class="lead">Only I can change my life, no one can do it for me.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Registrera tränigspass</h4>
          <p class="card-text">Registrera dina träningspass</p>
          <a href="add_exercise" class="btn btn-lg btn-block btn-outline-primary" role="button">Registrera</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Tabell</h4>
          <p class="card-text">Kolla in din placering i tabellen</p>
          <a href="leaderboard" class="btn btn-lg btn-block btn-outline-primary" role="button">Tabell</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Poängsystem</h4>
          <p class="card-text">Hur beräknas poängen?</p>
          <a href="stats" class="btn btn-lg btn-block btn-outline-primary" role="button">Poängsystem</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}